/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #container {
    #hero {
      flex-direction: column;

      .cls-hero-text-container {
        margin-block-start: -10rem;
        line-height: 0.1;
        z-index: 5;

        & > div {
          margin-inline-start: 0;
        }

        & > :last-child {
          line-height: 1;
        }

        .cls-hero-description {
          color: $white;
        }
      }

      nav {
        right: 2rem;
      }

      .cls-hero-img-container {
        position: absolute;
        bottom: 0;
        right: -100px;
        img {
          width: 60%;
        }
      }
    }

    #sidebar {
      row-gap: 20px;
      grid-template-columns: 1fr;
      overflow-x: hidden;
      &.cls-open {
        width: 100%;
        padding: 6rem 5rem;
      }

      & > div{
        h4 {
            padding-block-end: 1rem;
        }
      }

      ul {
        width: 28rem;

        li {
          font-size: 3rem;
        }
      }

      .cls-contact {
        grid-column: 1/4;
        grid-row: auto;
      }

      .cls-connect {
        grid-column: 1/4;
        grid-row: auto;
      }
    }

    #services {
      & > div {
        grid-template-columns: 1fr;

        .cls-about-box-2 {
          .cls-about-subbox {
            grid-template-columns: 1fr;
          }
        }
      }

      .cls-personal-details {
        grid-template-columns: repeat(2, 1fr);
        margin-block-start: 3rem;
        gap: 3rem;
      }
    }

    #skills {
      .cls-progress-container {
        grid-template-columns: 1fr;
        gap: 3rem;

        & > * {
          flex-direction: column;
          align-items: start;

          & > div {
            width: 100%;
          }
        }
      }

      ul {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        li {
          flex-direction: column;
          gap: 2rem;
          padding-block-end: 0rem;

          &::before {
            display: none;
          }
          span {
            flex: 0 0 100%;
            font-size: 3rem;
            padding-block-end: 10px;
            min-height: fit-content;
            line-height: 1;
            border-bottom: 3px solid $white;
          }

          p {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0;
          }
        }
      }
    }

    footer {
      .cls-contact {
        padding-block-end: 3rem;
        & > :last-child {
          flex-direction: column;
          gap: 1rem;
          // align-items: start;
          .cls-footer-email {
            font-size: 12px;
          }
        }
      }
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #container {
    #hero {
      .cls-hero-text-container {
        line-height: 0.4;
      }
    }

    #services {
      .cls-personal-details {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  #skills {
    .cls-progress-container {
      grid-template-columns: 1fr;
      gap: 3rem;

      & > * {
        flex-direction: column;
        align-items: start;
        row-gap: 1rem;

        & > div {
          width: 100%;
        }
      }
    }
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #container {
    #hero {
      .cls-hero-text-container {
        line-height: 0.6;
      }
    }

    #services {
      .cls-personal-details {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
