$white: #fff;
$grey-drk: #222;
$grey-md : rgba(255,255,255,.1);
$grey-lt : #e9e9e9;
$primary-color: #162c7c;
$primary-color-brt: #2b4cc5;
$primary-color-lt: #d5dbf3;
$secondary-color: #FFF78A;
$text-shadow: 0 20px 60px rgb(0,0,0,.15);

@import "base";
@import "queries";
